  .footer {
    background-color: #100c08;
    color: white;
    padding: 20px 0;
    width: 100%;
    position: relative;
    bottom: 0;
    border-top: 1px solid #444;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    max-width: 1200px;
    margin: 0 auto;
  }

  .footer-left {
    display: flex;
    align-items: center; 
  }

  .footer-left .footer-logo {
    height: 70px;  
  }

  .footerlink {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14Px;
    transition: color 0.3s;
  }

  .footerlink:hover {
    color: #b39292;
  }

  .footer-right {
    text-align: right;
  }

  .footer-right p {
    margin: 0;
    font-size: 14px;
  }
